.btn {
    border-radius: 10px;
    background: #222;
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn:hover {
    color: #ffbb33;
}